@charset "utf-8";

/* 폰트 */
/* rokaf */
@font-face{
  src: url('../fonts/rokaf/ROKAF\ Sans\ Medium.ttf') format('truetype');
  font-family: "Rokaf";
  font-weight:500
}
@font-face{
  src: url('../fonts/rokaf/ROKAF\ Sans\ Bold.ttf') format('truetype');
  font-family: "Rokaf";
  font-weight:700
}
/* pretendard */
@font-face {
  src: url('../fonts/pretendard/Pretendard-Medium.woff') format("woff");
  font-family: "pretendard";
  font-weight:400
}
@font-face {
  src: url('../fonts/pretendard/Pretendard-Regular.woff') format("woff");
  font-family: "pretendard";
  font-weight:500
}
@font-face {
  src: url('../fonts/pretendard/Pretendard-SemiBold.woff') format("woff");
  font-family: "pretendard";
  font-weight:600
}
@font-face {
  src: url('../fonts/pretendard/Pretendard-Bold.woff') format("woff");
  font-family: "pretendard";
  font-weight:700
}

/*공통 Reset*/
*{
  box-sizing:border-box;
}
html,
body,h1,h2,h3,h4,h5 {
  letter-spacing: -0.4px;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}
ul {
  list-style:none;
}
blockquote, q {
  quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content:''; content:none;
}
a {
  display:block;
  margin:0;
  padding:0;
  font-size:100%;
  background:transparent;
  text-decoration:none;
  color:inherit;
}
img,iframe,video{
  max-width:100%;
}
section, header, footer{
  position:relative;
  overflow:hidden;
}
img {
  display:block;
  image-rendering:-moz-auto;
  image-rendering:-o-auto;
  image-rendering:auto;
  image-rendering:-webkit-optimize-contrast;
  -ms-interpolation-mode:nearest-neighbor;
}
body{
  width:100%;
  max-width:100%;
  overflow-x: visible;
  overflow-y: auto;
  font-weight:normal;
  font-size: 10px;
  color:#000;
  font-family: 'pretendard';
}